.cart {
    height: calc(100vh - 120px);
    background-color: #FFE0B3;
    padding: 30px 20px;
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.cart h2 {
    margin-bottom: 20px;
}

.cart h3 {
    margin-bottom: 8px;
}

.clear-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: #FF3030;
    color: #FFF;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.clear-cart:hover {
    background-color: #ff3030d7;
}

.review-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: #FF9900;
    color: #FFF;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.review-cart:hover {
    background-color: #ff8800;
}