.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    background-color: #FFF;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.product img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 15px;
}

.product-top h3 {
    margin-bottom: 10px;
}

.product-bottom p {
    padding-bottom: 5px;
}

.add-to-cart {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #FFE0B3;
    padding: 8px;
    margin-top: 5px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.add-to-cart:hover {
    background-color: #ff9900a3;
}

