.header-container {
    margin: 1140px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #1C2B35;
    padding: 0 150px;
}

.header a {
    color: #FFF;
    text-decoration: none;
    margin-right: 25px;
    transition: .3s ease-in-out;
}

.header a:hover {
    color: #ff9900;
}