.header {
    background-color: #1C2B35;
    padding: 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.header a {
    color: white;
    text-decoration: none;
    margin-right: 25px;
}