.header-container {
    max-width: 1220px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #1C2B35;
}

.site-logo {
    cursor: pointer;
}

.header a {
    color: #FFF;
    text-decoration: none;
    margin-right: 25px;
    transition: .3s ease-in-out;
}

.header a:hover {
    color: #ff9900;
}

/* Medium devices (landscape tablets, 689px and up) */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .header-container {
        max-width: 768px;
    }
}

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 688px) {
    .header-container {
        max-width: 350px;
    }
}
